html{
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  color: #fff;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #282c34;
}

#root{
  margin: auto;
  height: 100%;
}

.cover-container{
  max-width: 50em;
}

.logo-cont{
  max-width: 800px;
  margin: auto;
  padding-top: 40px;
  height: 200px;
  margin-left: 10px;
}

.logo {
  width: 300px;
  margin: auto;
  perspective: 500;
  -webkit-perspective: 500;
  text-align: left;
  padding-left: 15px;
}

.logo > div {
  overflow: visible;
  transform: rotateY(15deg);
  -webkit-transform: rotateY(15deg);
}

@font-face {
  font-family: BTTF;
  src: url('./assets/BTTF.ttf') format("truetype");
}

.blue-border {
  -webkit-text-stroke-color: #00F;
  -webkit-text-stroke-width: 2px;	
}

.blue-border-thin {
  -webkit-text-stroke-color: 00F;
  -webkit-text-stroke-width: 0.5px;	
}

.bttf {
	font-family: BTTF;
  line-height: 100%;
  font-size: 40px;
}

.over > :first-child {
  color: #F00;
  mask-image: -webkit-gradient(linear, left top,
    left bottom, from(rgba(1,0,1,1)), to(rgba(0,1,0,0)));
  -webkit-mask-image: -webkit-gradient(linear, left top,
    left bottom, from(rgba(1,0,1,1)), to(rgba(0,1,0,0)));
}

.over > :last-child {
  color: #F00;
  mask-image: -webkit-gradient(linear, left top,
    left bottom, from(rgba(1,0,1,0)), to(rgba(0,1,0,1)));
  -webkit-mask-image: -webkit-gradient(linear, left top,
    left bottom, from(rgba(1,0,1,0)), to(rgba(0,1,0,1)));
}

.under {
  color: #FF0;
}

.under, .over {
	position: absolute;
	left: 0px;
	top: 0px;
}

/* DATE PICKER */ 

.react-date-picker__wrapper{
  padding: 5px;
  border: thin solid gray;
  margin-right: 9px;
  border-radius: 5px;
  background-color: white;
}
.react-date-picker__inputGroup, .form-inline .form-control{
  color: #212529;
}
